:root {
    --default: linear-gradient(
        #fdffda,
        #fdffda
        );

    --colorful: linear-gradient(
        50deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes changeColors {
    from { background: rgb(187, 236, 255); } to { background: rgb(255, 186, 232); }
} 

@keyframes PastelRainbow {
    0% {background-position: left;}
    100% {background-position: right;}
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'GmarketSansMedium';
}

html, body {
    margin: 0;
}

button, button::after {
    transition: all 0.3s;
}

button {
  background: #cea3ff;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 0.4em;
  font-weight: bold;
  margin: 0.1em auto;
  padding: 0.1em 0.1em;
  float: right;
  text-transform: uppercase;
}

button:hover {
  color: #cea3ff;
  background: #fff;
  border-color: #cea3ff;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

.body {
    background-size: 400%;
    background-image: var(--default);
    animation: PastelRainbow 4s infinite alternate;
}

.header {
    animation: rgy 5s ease-in 1s infinite alternate forwards running;
    height: 8rem;
    font-size: 3rem;
    text-align: center;
    line-height: 7.5rem;
    animation: changeColors 2s linear 0s infinite alternate;
    z-index: 999;
}

.loading-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 999999;
}

.loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    border-radius: 0.5rem;
    padding: 0;
}

.loading-background.active { display: block; }

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    top: 0.3%;
    background-image: var(--colorful);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.1s;
    z-index: 1;
}

input[type="checkbox"]:checked ~ .toggle {
    background: #fff;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.1s;
}

input[type="checkbox"]:checked ~ .toggle::before {
    transform: translateX(20px);
    background-image: var(--colorful);
}

.theme-text {
    font-family: '양진체';
}

.container:not(.content) {
    display: flex;
    flex-flow: row nowrap;
    height: 80rem;
}

.content {
    position: absolute;
    right: 6%;
    width: 100%;
    height: 30rem !important;
    overflow: hidden;
}

.slider-container {
    position: absolute;
    width: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    transform: translateY(-80%);
    text-align: center;
    overflow: hidden;
}

.simple-list {
    list-style-type: none;
    margin: 0;
    padding-top: 35rem;
}

#prev, #next {
    position: absolute;
    left: 50%;
    transform: translateY(280%);
    z-index: 999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-repeat: no-repeat;
}

#prev.disabled, #next.disabled { display: none; }

#prev { background-image: url('arrow-left-out.svg'); margin-left: -480px;}

#prev:hover { background-image: url('arrow-left-over.svg'); }

#next {
    margin-left: 380px;
    background-image: url('arrow-right-out.svg');
}

#next:hover { background-image: url('arrow-right-over.svg'); }

.slide-bg, .slide-bg::after {
    transition: all 0.3s;
}

.slide-bg {
    width: 30rem;
    height: 20rem;
}

.slide-bg:hover {
    filter: brightness(30%);
    cursor: pointer;
}

.slide-bg:hover ~ .slide-text {
    transition-delay: 0.15s;
    filter: opacity(70%);
}

.slide-text {
    font-family: 'KOTRAHOPE';
    filter: opacity(0%);
    color: white;
    font-size: 600%;
    pointer-events: none;
    transform: translateY(-125%);
}

.clock{
    width: 18rem;
    height: 18rem;
    border: 0.5rem solid black;
    border-radius: 50%;
    margin: 1rem auto;
    position: absolute;
    top: 90%;
    left: 44%;
    transform: translate(-50%, -50%);
    background-color:black;
}

.inner-clock{
    border: 0.1rem dotted rgb(255, 255, 255);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    margin: 0.5rem auto;
}

.Rome{
    position: absolute;
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    color: white;
}

#Rome12{
    right: 0;
    left: 0;
    top: 0;
    transform: translateY(-10%);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#Rome6{
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#Rome3{
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 6px;
    font-size: 40px;
    font-weight: 700;
}

#Rome9 {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 6px;
    font-size: 40px;
    font-weight: 700;
}

#Rome1{
    top: calc(140px - 120px);
    right: calc(140px - 70px);
}

#Rome2{
    top: calc(140px - 75px);
    right: calc(140px - 115px);
}

#Rome4{
    bottom: calc(140px - 80px);
    right: calc(140px - 115px);
}

#Rome5{
    bottom: calc(140px - 120px);
    right: calc(140px - 70px);
}

#Rome11{
    top: calc(140px - 120px);
    left: calc(140px - 70px);
}

#Rome10{
    top: calc(140px - 80px);
    left: calc(140px - 115px);
}

#Rome8{
    bottom: calc(140px - 80px);
    left: calc(140px - 115px);
}

#Rome7{
    bottom: calc(140px - 120px);
    left: calc(140px - 70px);
}

#clocktext{
    font-family: '양진체';
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 2.5rem;
    color: whitesmoke;
}

#center{
    position: absolute;
    border: none;
    width: 1rem;
    height: 1rem;
    top: 2%;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    margin: auto;
    border-radius: 50%;
    z-index: 999;
}

#second{
    position: absolute;
    height: 6.5rem;
    width: 0.15rem;
    background-color: rgb(255, 208, 150);
    top: 17%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 9rem;
    transform: rotate(0deg);
    transform-origin: center 100%;
}

#minute{
    position: absolute;
    height: 6rem;
    width: 0.4rem;
    background-color: rgb(84, 104, 104);
    top: 19%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 9rem;
    transform: rotate(0deg);
    transform-origin: center 100%;
    border-radius: 1.2rem;
}

#hour{
    position: absolute;
    height: 4.5rem;
    width: 0.4rem;
    background-color: rgb(110, 223, 76);
    top: 28%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 9rem;
    transform: rotate(0deg);
    transform-origin: center 100%;
    border-radius: 1.2rem;
}

.sidebar {
    width: 12%;
    min-width: 12%;
    height: 16rem;
    top: 0;
    left: 88%;
    position: sticky;
    display: block;
    background: #c5c5c5;
    text-align: center;
    padding-top: 3rem;
}

.sidebar a {
    line-height: 3.5rem;
    vertical-align: middle;
}

.logo {
    width: 100%;
    background: #effcf2;
}

.footer {
    margin-top: -0.5rem;
    background: #333;
    height: 15rem;
    font-size: 1rem;
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.footer p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
}