:root {
    --default: linear-gradient(
        #fdffda,
        #fdffda
        );

    --colorful: linear-gradient(
        50deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes changeColors {
    from { background: rgb(187, 236, 255); } to { background: rgb(255, 186, 232); }
} 

@keyframes PastelRainbow {
    0% {background-position: left;}
    100% {background-position: right;}
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'GmarketSansMedium';
}

html, body {
    margin: 0;
}

button, button::after {
    transition: all 0.3s;
}

button {
  background: #cea3ff;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 0.5em;
  font-weight: bold;
  margin: 0.1em auto;
  padding: 0.1em 0.1em;
  float: right;
  text-transform: uppercase;
}

button:hover {
  color: #cea3ff;
  background: #fff;
  border-color: #cea3ff;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

.body {
    background-size: 400%;
    background-image: var(--default);
    animation: PastelRainbow 4s infinite alternate;
}

.header {
    animation: rgy 5s ease-in 1s infinite alternate forwards running;
    height: 8rem;
    font-size: 3rem;
    text-align: center;
    line-height: 7.5rem;
    animation: changeColors 2s linear 0s infinite alternate;
}

.container:not(.content) {
    display: flex;
    flex-flow: row nowrap;
    height: 80rem;
}

.content {
    position: relative;
    width: 100%;
    height: 60rem !important;
    overflow: hidden;
}

.slider-container {
    position: absolute;
    width: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    transform: translateY(-80%);
    text-align: center;
    overflow: hidden;
}

.simple-list {
    list-style-type: none;
    margin: 0;
    padding-top: 35rem;
}

#prev, #next {
    position: absolute;
    left: 50%;
    transform: translateY(280%);
    z-index: 999999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-repeat: no-repeat;
}

#prev.disabled, #next.disabled { display: none; }

#prev { background-image: url('arrow-left-out.svg'); margin-left: -480px;}

#prev:hover { background-image: url('arrow-left-over.svg'); }

#next {
    margin-left: 380px;
    background-image: url('arrow-right-out.svg');
}

#next:hover { background-image: url('arrow-right-over.svg'); }

.slide-bg, .slide-bg::after {
    transition: all 0.3s;
}

.slide-bg {
    width: 30rem;
    height: 20rem;
}

.slide-bg:hover {
    filter: brightness(30%);
    cursor: pointer;
}

.slide-bg:hover ~ .slide-text {
    transition-delay: 0.15s;
    filter: opacity(70%);
}

.slide-text {
    font-family: 'KOTRAHOPE';
    filter: opacity(0%);
    color: white;
    font-size: 600%;
    pointer-events: none;
    transform: translateY(-125%);
}

.sidebar {
    width: 12%;
    min-width: 12%;
    height: 16rem;
    position: sticky;
    display: block;
    top: 0;
    background: #c5c5c5;
    text-align: center;
    padding-top: 3rem;
}

.sidebar a {
    line-height: 3.5rem;
    vertical-align: middle;
}

.logo {
    width: 100%;
    background: #effcf2;
}

.footer {
    margin-top: -0.5rem;
    background: #333;
    height: 15rem;
    font-size: 1rem;
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.footer p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
}