{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>메인페이지</title>
</head>
<body class="body">
    <div class="header" id="header">
        <span class="title">메인페이지</span>
        <button onclick="location.href='account/login'">로그인</button>
        <button class="signup">회원가입</button>
        <div id="loading-notice" class="loading-background">
            <img class="loading-gif" src="{% static 'img/loading_hos.gif' %}">
        </div>  
        <button onclick="location.href='hashtag'">해시태그</button>
    </div>
    <div class="container" id="container">
        <span>
            <input type="checkbox" class="theme">
            <span class="toggle"></span>
            <span>그라데이션 테마</span>
        </span>
        <div class="content">
            <ul class="slider-container simple-list" id="slider">
                <li class="slide">
                    <img class="slide-bg" src="{% static 'img/1.jpg' %}" onclick="location.href='read/'">
                    <div class="slide-text">가계부<br>리스트</div>
                </li>
                <li class="slide">
                    <img class="slide-bg" src="{% static 'img/2.jpg' %}" onclick="location.href='write/'">
                    <div class="slide-text">가계부<br>작성</div>
                </li>
                <li class="slide">
                    <img class="slide-bg" src="{% static 'img/3.jpg' %}" onclick="location.href=`{% url 'mypage' user.id %}`">
                    <div class="slide-text">내정보<br>페이지</div>
                </li>
            </ul>       
            <a href="#" id="prev" class="disabled"></a>
            <a href="#" id="next"></a>
        </div>
        <div class="clock">
            <div class="inner-clock">
                <div id="clocktext">LikeLion<br>10th</div>
                <div class="Rome" id="Rome1">I</div>
                <div class="Rome" id="Rome2">II</div>
                <div class="Rome" id="Rome3">III</div>
                <div class="Rome" id="Rome4">IV</div>
                <div class="Rome" id="Rome5">V</div>
                <div class="Rome" id="Rome6">VI</div>
                <div class="Rome" id="Rome7">VII</div>
                <div class="Rome" id="Rome8">VIII</div>
                <div class="Rome" id="Rome9">IX</div>
                <div class="Rome" id="Rome10">X</div>
                <div class="Rome" id="Rome11">XI</div>
                <div class="Rome" id="Rome12">XII</div>       
                <div id="center"></div>
                <div id="hour"></div>
                <div id="minute"></div>
                <div id="second"></div>
            </div>
        </div>
        <div class="sidebar">
            <a href="#header">맨 위로</a><br>
            <a href="#container">메인 컨텐츠</a><br>
            <a href="#footer">맨 아래로</a>
        </div>
    </div>
    <div class="likelion.logo">
        <img class="logo" src="{% static 'img/logo.jpg' %}">
    </div>
    <div class="footer" id="footer">
        <span><b>"대충 있어보이는 명언"</b> - <i>아무개</i></span>
        <p>Copyright&copy; 성공회대학교 멋쟁이사자처럼 10기<br>
        아기사자 경명규, 박세은<br><br>              
        문제 발생시 아래 번호로 연락 부탁드립니다<br>
        경명규 : 010-2667-9207<br>
        박세은 : 010-3034-5474</p>
    </div>
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>